:root {
    --main-text-color: rgba(249, 247, 247, 1);
    --secondary-text-color: rgba(219, 226, 239,1);
    --background-color: rgba(249, 247, 247, 0.20);
    --third-color: rgba(17, 45, 78, 1);
    
    --background-color-alert: rgba(255, 204, 0, 0.45);
    --background-color-alert2: rgba(113, 90, 0, 0.45);
    --alert-color: rgba(255, 204, 0, 1);
    --alert-color2: rgba(0, 0, 0, 1);
    --alert-background: repeating-linear-gradient(135deg, var(--background-color-alert)25%, var(--background-color-alert)50%, var(--background-color-alert2)50%, var(--background-color-alert2)75%);

}

@font-face {
    font-family: aAtmospheric;
    src: url(aAtmospheric.ttf);
}

body { margin: 0;}

canvas { width: 100%; height: 100%;}

p,span{
    color: var(--main-text-color);
}



#userInterface{
    position: absolute;
    font-family: aAtmospheric;
}

#system-name{
    font-size: 30px;
    margin: 0;
}
#corvus-name{
    font-size: 15px;
    font-style: italic;
    color: var(--secondary-text-color);
}



#left-sidebar{
    width: 470px;
    height: 100vh;
}

.grid-container-header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 150px;
    gap: 10px;
    grid-template-areas: "img system-name";
}
  
.system-name { 
    grid-area: system-name; 
    margin: auto 0; 
}

#description { 
    grid-area: description;
    color: var(--secondary-text-color);
    font-family: monospace; 
    text-align: justify;
}

[alert]{
    color: var(--alert-color)!important;
}
#alert-description{
    color: var(--alert-color);
    font-family: monospace; 
    text-align: justify;
}

.alert-panel{
    color: var(--alert-color);
}

#diacriticsexample{
    font-family: monospace;
}
.img { grid-area: img; }

.ui.basic.segments.nav-panel{
    border-left: 3px solid;
    border-top: 3px solid;
    border-color: var(--secondary-text-color);
    background-color: var(--background-color);
}

.ui.basic.segments.alert-panel{
    border-left: 3px solid;
    border-top: 3px solid;
    border-color: var(--alert-color);
    background-image: var(--alert-background);
    background-size: 100px 100px;
    animation: stripeBackgroundPosition 4s linear infinite;
}

@keyframes stripeBackgroundPosition {
    0% {
    background-position: 0;
    }
    
    100% {
    background-position: 100px;
    }
}